@charset "utf-8";

@import "../node_modules/bulmaswatch/lux/variables";
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulmaswatch/lux/overrides";

.title {
  text-transform: uppercase;
}

.button {
  text-transform: uppercase;
}

.navbar {
  padding-right: 15px;
}

.intro-hello {
  font-size: 4em;
}

.intro-name {
  font-size: 3em;
}

.avoid-wrap {
  display: inline-block;
}

.intro-para {
  font-size: 1.25em;
}

.hero-content {
  width: 100%;
}

.contact-button {
  margin-top: 40px;
}

p {
  font-size: 1.1em;
}